.form-card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #fff;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}


.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

ng-select {
  background: #4e444b;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

ng-select ::ng-deep .ng-value {
  color: #fff;
}

::ng-deep .ng-dropdown-panel .ng-option {
  background: #2d292c !important;
  color: #fff !important;
}

.ng-dropdown-panel .ng-option:hover,
.ng-dropdown-panel .ng-option.ng-option-marked {
  background: rgba(255,255,255,0.04) !important;
}

::ng-deep ng-select {
  display: block;
  margin-top: 0.25rem;
  border-radius: 4px;
}

::ng-deep .form-card ng-select .ng-select-container {
  background: #4e444b !important;
  border: 1px solid rgba(255,255,255,0.06) !important;
}
::ng-deep .form-card ng-select .ng-placeholder,
::ng-deep .form-card ng-select .ng-value,
::ng-deep .form-card ng-select .ng-single-label,
::ng-deep .form-card ng-select .ng-input input {
  color: #fff !important;
}

::ng-deep .form-card ng-select .ng-select-container .ng-value,
::ng-deep .form-card ng-select .ng-input input {
  font-size: 17px;
}

::ng-deep .ng-dropdown-panel .ng-option {
  font-size: 17px;
}
