<div class="form-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="custom-form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" readonly />
      <mat-error *ngIf="email.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="email.hasError('email')">
        Please enter a valid email.
      </mat-error>
      <mat-error *ngIf="email.hasError('maxlength')">
        Email cannot be more than 254 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="text" formControlName="password" [class.password-masked]="hideNewPassword" required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="$event.preventDefault(); hideNewPassword = !hideNewPassword"
      >
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('required')">
        New password is required
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        New password must be at least 8 characters  
      </mat-error>
      <mat-error *ngIf="password.hasError('pattern')">
        Must contain at least one uppercase letter, one lowercase letter, and one number
      </mat-error>

      <mat-progress-bar
        [value]="passwordStrength" 
        mode="determinate"
        [color]="
          passwordStrength < 40  ? 'warn' :
          passwordStrength < 60  ? 'accent' :
          passwordStrength < 80  ? 'primary' :
                                  'primary'
        ">
      </mat-progress-bar>

      <div class="password-strength-label" 
          [ngClass]="{
            'weak': passwordStrength < 40,
            'medium': passwordStrength >= 40 && passwordStrength < 60,
            'strong': passwordStrength >= 60 && passwordStrength < 80,
            'very-strong': passwordStrength >= 80
          }">
        {{ passwordStrengthLabel }}
      </div>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="text" formControlName="confirmPassword" [class.password-masked]="hideConfirmPassword" required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="$event.preventDefault(); hideConfirmPassword = !hideConfirmPassword"
      >
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.hasError('required')">
        Confirmation is required
      </mat-error>
      <mat-error *ngIf="confirmPassword.hasError('mismatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <input type="hidden" formControlName="token" />

    <button  class="custom-auth-button" color="primary" type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    <button  class="custom-secondary-auth-button" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>