:host {
  display: block;
  min-width: 300px;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

mat-dialog-content {
  margin: 1rem 0;
}

mat-dialog-actions {
  margin-top: 1rem;
  button {
    margin-left: 0.5rem;
  }
}
