<div class="form-container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Current Password</mat-label>
      <input matInput type="text" formControlName="currentPassword" [class.password-masked]="hideCurrentPassword" required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="$event.preventDefault(); hideCurrentPassword = !hideCurrentPassword"
      >
        <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="currentPassword.hasError('required')">
        Current password is required
      </mat-error>
      <mat-error *ngIf="currentPassword.hasError('incorrect')">
        Current password is incorrect
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>New password</mat-label>
      <input matInput type="text" formControlName="newPassword" [class.password-masked]="hideNewPassword" required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="$event.preventDefault(); hideNewPassword = !hideNewPassword"
      >
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="newPassword.hasError('required')">
        New password is required
      </mat-error>
      <mat-error *ngIf="newPassword.hasError('minlength')">
        Password must be at least 8 characters
      </mat-error>
      <mat-error *ngIf="newPassword.hasError('pattern')">
        Must contain at least one uppercase letter, one lowercase letter, and one number
      </mat-error>

      <mat-progress-bar
        [value]="passwordStrength" 
        mode="determinate"
        [color]="
          passwordStrength < 40  ? 'warn' :
          passwordStrength < 60  ? 'accent' :
          passwordStrength < 80  ? 'primary' :
                                  'primary'
        ">
      </mat-progress-bar>

      <div class="password-strength-label" 
          [ngClass]="{
            'weak': passwordStrength < 40,
            'medium': passwordStrength >= 40 && passwordStrength < 60,
            'strong': passwordStrength >= 60 && passwordStrength < 80,
            'very-strong': passwordStrength >= 80
          }">
        {{ passwordStrengthLabel }}
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="text" formControlName="confirmPassword" [class.password-masked]="hideConfirmPassword" required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="$event.preventDefault(); hideConfirmPassword = !hideConfirmPassword"
      >
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.hasError('required')">
        Confirmation password is required
      </mat-error>
      <mat-error *ngIf="confirmPassword.hasError('mismatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button class="custom-auth-button" color="primary" type="submit" [disabled]="changePasswordForm.invalid">
      Submit
    </button>
    <button class="custom-secondary-auth-button" type="button" (click)="goToProfile()">
      Cancel
    </button>
  </form>
</div>
