@use '../../../shared/styles/auth-forms' as *;

.form-container {
  @extend .auth-form-container;
  .fallback-link {
    margin-top: 8px;
    font-size: 0.9rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

    a {
      color: #d35400;  
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

re-captcha {
  display: block;
  margin: 16px 0;
}

mat-progress-bar {
  height: 6px;
  margin-top: 8px;
}