<div class="form-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="custom-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="email.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="email.hasError('email')">
        Please enter a valid email.
      </mat-error>
      <mat-error *ngIf="email.hasError('maxlength')">
        Email cannot be more than 254 characters.
      </mat-error>
    </mat-form-field>

    <re-captcha formControlName="recaptchaToken" siteKey="6Ld2Sn4rAAAAAAV0mHtku7lKdrXrXbZSlEd1aA0q" (resolved)="onCaptchaResolved($event)"></re-captcha>
    <mat-error *ngIf="recaptcha?.invalid && recaptcha?.touched">
      Please complete the CAPTCHA
    </mat-error>

    <button class="custom-auth-button" type="submit" [disabled]="forgotForm.invalid">
      Send Reset Link
    </button>

    <button class="custom-secondary-auth-button" type="button" (click)="cancel()">
      Cancel
    </button>

    <p class="fallback-link">
      Don’t have access to your email?
      <a (click)="goToSecurityQuestion()">Use security question instead</a>
    </p>
  </form>
</div>
